@import url(/css/reset.css);
@import url(/css/text.css);
@import url(/css/960.css);
@import url(http://fonts.googleapis.com/css?family=Nobile);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif);
@import url(/css/hashgrid.css);

html,
body {
	font-size: 12px;
	line-height:20px;
	font-family: 'Nobile', arial, serif;
	padding: 0px; 
	margin: 0px; 
	width: 100%;
	height: 100%;
	color: black;
	background-color: white;
}

h1 {
	font-size: 36px;
	line-height: 40px;
}

h2 {
	font-size: 16px;
}

a {
	color: black;
	transition: color;
	transition-duration: 4000ms;
	-webkit-transition: color; 
	-webkit-transition-duration: 4000ms;
	-moz-transition: color; 
	-moz-transition-duration: 4000ms;
	-o-transition: color; 
	-o-transition-duration: 4000ms;
}

a:hover {
	color: grey;
	transition: color;
	transition-duration: 600ms;
	-webkit-transition: color;
	-webkit-transition-duration: 600ms;
	-moz-transition: color;
	-moz-transition-duration: 600ms;
	-o-transition: color;
	-o-transition-duration: 600ms;
}

header {
	margin-top: 20px;
	font-size: 20px;
}

#title a {
	color: black;
	transition: color;
	transition-duration: 5000ms;
	-webkit-transition: color; 
	-webkit-transition-duration: 5000ms;
	-moz-transition: color; 
	-moz-transition-duration: 5000ms;
	-o-transition: color; 
	-o-transition-duration: 5000ms;
}

#title a:hover {
	color: red;
	transition: color;
	transition-duration: 100ms;
	-webkit-transition: color;
	-webkit-transition-duration: 100ms;
	-moz-transition: color;
	-moz-transition-duration: 100ms;
	-o-transition: color;
	-o-transition-duration: 100ms;
}
#center {
	background-color: brown;
}

#main {
	background:url(/images/stemma.png) no-repeat center center;
}

.horizontalaccordion {
	background-color: inherit;
}	

.horizontalaccordion>ul {
	margin: 0;
	padding: 0;
	list-style:none;
	height: 440px;
}

.horizontalaccordion>ul>li {
	display:block;
	overflow: hidden;
	float:right;
	margin: 0;
	padding: 0;
	list-style:none;
	width:20px;
	height: 440px;
    	/* CSS3 Transitions */
	transition: width 1s ease-in-out;
	-moz-transition: width 1s ease-in-out;
	-webkit-transition: width 1s ease-in-out;
	-o-transition: width 1s ease-in-out;
}

.horizontalaccordion>ul>li>h2 {
	display:block;
	float:left;
	margin: 0;
	padding: 0;
	padding-left: 20px;
	height:20px;
	width:440px;
    	/* Decorative CSS */
	line-height: 20px;
	text-decoration:none;
	text-transform:uppercase;
	color: #000;
	background:#cccccc;
    	/* CSS3 Transform Rotate & Translate */
	white-space:nowrap;
	-moz-transform: rotate(90.0deg) translate(-20px,0px);  /* FF3.5+ */
	-moz-transform-origin: 0 100%;
	-o-transform: rotate(90.0deg) translate(-20px,0px);  /* Opera 10.5 */
	-o-transform-origin: 0 100%;
	-webkit-transform: rotate(90.0deg) translate(-20px,0px);  /* Saf3.1+, Chrome */
	-webkit-transform-origin: 0 100%;
	transform: rotate(90.0deg) translate(-20px,0px);  /* Saf3.1+, Chrome */
	transform-origin: 0 100%;
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1.0)
	         progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff999999, endColorstr=#ffcccccc);  /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1.0)"
	         "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff999999, endColorstr=#ffcccccc)"; /* IE8 */
    	/* CSS3 Gradient Effect */
	background: -moz-linear-gradient( top, #999999, #cccccc);
	background: -webkit-gradient(linear, left top, left bottom, from(#999999), to(#cccccc));
}

.horizontalaccordion>ul>li>section {
	display:none;
	float:left;
	overflow: hidden;
	position:relative;
	top:-20px;
	left:20px;
	*top:0px;       /* IE7 Hack */
	*left:0px;      /* IE7 Hack */
	margin:20px;
	padding:20px;
	width:340px;
	height:360px;
	border-radius: 5px;
}

.horizontalaccordion>ul>li:hover {
	overflow: hidden;
	width: 440px;
}

.horizontalaccordion:hover>ul>li:hover>section {
	display:block;
}

.horizontalaccordion:hover>ul>li:hover>h2 {
	/* Decorative CSS */
	color:#fff;
	background:#000000;
    	/* CSS3 Gradient Effect */
	background: -moz-linear-gradient( top, #454545, #000000); /* FF, Flock */
	background: -webkit-gradient(linear, left top, left bottom, from(#454545), to(#000000)); /* Safari, Chrome */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1.0)
        	progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff454545, endColorstr=#ff000000); /* IE 5.5 - IE 7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1.0)"
               "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff454545, endColorstr=#ff000000)";   /* IE 8 */
}

.horizontalaccordion>ul>li>h2:hover {
	cursor:pointer;
}

#slider {
	margin-top:20px;
}

#slider .pagination {
 	list-style:none outside none;
}

#slider .pagination li {
	cursor:pointer;
	display:inline-block;
	margin-left:0;
	text-indent: 10000px;
	background-color:grey;
	border-radius:10px 10px 10px 10px;
	height:8px;
	width:8px;
}

#slider .pagination li.current {
    background-color:black;
}

#transitions {
	overflow:hidden;
	margin:0;
	padding:0;
}

#transitions a {
	text-decoration: none;
	font-size: 12px;
	color: grey;
	transition: color;
	transition-duration: 2000ms;
	-webkit-transition: color; 
	-webkit-transition-duration: 2000ms;
	-moz-transition: color; 
	-moz-transition-duration: 2000ms;
	-o-transition: color; 
	-o-transition-duration: 2000ms;
}

#transitions a:hover {
	color: black;
	transition: color;
	transition-duration: 400ms;
	-webkit-transition: color;
	-webkit-transition-duration: 400ms;
	-moz-transition: color;
	-moz-transition-duration: 400ms;
	-o-transition: color;
	-o-transition-duration: 400ms;
}
#transitions ul {
	text-align:center;
	list-style:none;
	padding:0;
	margin:0;
}
#transitions ul li {
	display: inline;
	margin:0;
	padding:0;
}

section {
	margin-top: 20px;
	height: 380px;
	background-color: white;
}

section img {
	border-radius: 5px;
}

section img.piatti {
	margin-right:20px;
}

#images {
	height: 380px;
}

footer {
	margin-top: 20px;
	margin-left: 10px;
	line-height: 20px;
}

#webmaster {
	text-align: right;
}

.jta-tweet-body {
	text-transform: lowercase;
}
.jta-tweet-retweeter {
	display: none;
}

.jta-tweet-timestamp {
	padding-left: 10px;
}
